
.in{
  width:300px;
  height: 45px;

  font-size: 28px;
  font-size: 28px;

  border: 2px solid black;
    border-radius: 4px;
}


/*========================================================*/
/* The sidebar menu */
.sidebar {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
   font-size: 20px;
   cursor: pointer;
   background-color: #111;
   color: white;
   padding: 10px 15px;
   border: none;
   position: absolute;
}

.openbtn:hover {
   background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s; /* If you want a transition effect */
   padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
}
/*========================================================*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}
/*green*/
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;





    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
/*blue*/
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;





    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
/*red*/
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;




    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
/*gray*/
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;




    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4:hover {background-color: #e7e7e7;}
/*black*/
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;

    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
/*===================================================*/
table {
border-collapse: collapse;

    width: auto;

}

th, td {
    text-align: center;
    padding: 15px;
  margin-left: 100px;
  /*border: 2px solid #d4d4dc;*/
}
