* {
  box-sizing:
   border-box;
 }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("img/pokedex.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%
}

.topnav {
  overflow: hidden;
  background-color:#333;
  font-family: Arial;
}

.topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
     display: block;

}

.topnav a:hover {
  background-color: red;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 15px 0px 0px 15px;
  padding-left: 10px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
  border-radius: 0px 15px 15px 0px;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
/*-------------------------------------------------------------------------------------------------------------------*/
/* The dropdown container */
.dropdown {
 float: left;
 overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit; /* Important for vertical align on mobile phones */
 margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 height: 50%;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 overflow:scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
 display: block;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
 .topnav.responsive .dropdown {float: none;}
 .topnav.responsive .dropdown-content {position: relative;}
 .topnav.responsive .dropdown .dropbtn {
   display: block;
   width: 100%;
   text-align: left;
 }
}
/*-------------------------------------------------------------------------------------------------------------*/
/*logo at center*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 0px;
    padding-top: 0px;
}
/*===================================================================================================*/
.column {
  float: left;
  width: 25%;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display:table;
}
/*==================================================================================================================*/
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/*=====================================================================================================================*/
.but {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.but:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.but:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/*normal*/
.typecolornormal{
  color:black;
}
/*fire*/
.typecolorfire{
  color:red;
}
/*Fighting*/
.typecolorfighting{
  color:grey;
}
/*Water*/
.typecolorwater{
  color:blue;
}
/*Flying*/
.typecolorflying{
  color:indigo;
}
/*Grass*/
.typecolorgrass{
  color:green;
}
/*Poison*/
.typecolorpoison{
  color:purple;
}
/*Electric*/
.typecolorelectric{
  color:gold;
}
/*Ground*/
.typecolorground{
  color:brown;
}
/*Psychic*/
.typecolorpsychic{
  color:magenta;
}
/*rock*/
.typecolorrock{
  color:darkgrey;
}
/*Ice*/
.typecolorice{
  color:aqua;
}
/*bug*/
.typecolorbug{
  color:lightgreen;
}
/*dragon*/
.typecolordragon{
  color:violet;
}
/*Ghost*/
.typecolorghost{
  color:darkviolet;
}
/*Dark*/
.typecolordark{
  color:black;
}
/*Steel*/
.typecolorsteel{
  color:lightgrey;
}
/*fairy*/
.typecolorfairy{
  color:lightpink;
}

.blurring {
  filter: blur(5px);
}

/*=================================================================================================================*/
.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}


.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* Modal Content Box */

.modal-content {


  align-self: center;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    width: 30%;
    height: 45%;
    margin: 120px auto;

    padding: 20px;
    border:3px solid #000000;;
    background:  rgba(0, 0, 0, 0.6);
    border-radius: 10px 10px 10px 10px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}



.close {

    right: 25px;
    top: 0;
    color: #f9f9f9;
    font-size: 35px;
    font-weight: bold;


    float: right;


}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/*============================*/

/*============================*/

.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  background:  rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
  color: white;
}
.input-group label{
  display: block;
  text-align: left;
  margin: 3px;


}
.input-group input{
  height : 55px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  background:  rgba(0, 0, 0, 0.3);
  border: 3px solid black;/*2px solid #000000;/**/
  color:#FFFFFF;

}



.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #000000;/*#5F9EA0*/
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success{
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/*===============================================================================================================*/
.bottom {
  overflow: hidden;
  background-color:#CC0000; /*#333;*/

  bottom: 0;
  width: 100%;
  float: left;
display: block;
color: #f2f2f2;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
/*===============================================================================================================*/
